
  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <i class="footer-icon fab fa-twitter"></i>
      <i class="footer-icon fab fa-instagram"></i>
      <i class="footer-icon far fa-envelope"></i>
      <p>© Copyright 2021 fabWeather</p>
    </div>


  </footer>

</body>

</html>
