body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold", sans-serif;
  line-height: 1.5;
}

/* Spinner */
#spinner {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: none;
  appearance: none;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  padding: 0.25em;
  width: 3em;
  height: 3em;
  color: #334257;
  background-color: transparent;
  font-size: 16px;
  overflow: hidden;
}

#spinner::-webkit-progress-bar {
  background-color: transparent;
}

/* Indeterminate */
#spinner:indeterminate {
  -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
  mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
  animation: pure-material-progress-circular 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x), #spinner:indeterminate {
  animation: none;
}

#spinner:indeterminate::before,
#spinner:indeterminate::-webkit-progress-value {
  content: "";
  display: block;
  box-sizing: border-box;
  margin-bottom: 0.25em;
  border: solid 0.25em transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  width: 100% !important;
  height: 100%;
  background-color: transparent;
  animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

#spinner:indeterminate::-moz-progress-bar {
  box-sizing: border-box;
  border: solid 0.25em transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation: pure-material-progress-circular-pseudo 0.75s infinite linear alternate;
}

#spinner:indeterminate::-ms-fill {
  animation-name: -ms-ring;
}

@keyframes pure-material-progress-circular {
  0% {
      transform: rotate(0deg);
  }
  12.5% {
      transform: rotate(180deg);
      animation-timing-function: linear;
  }
  25% {
      transform: rotate(630deg);
  }
  37.5% {
      transform: rotate(810deg);
      animation-timing-function: linear;
  }
  50% {
      transform: rotate(1260deg);
  }
  62.5% {
      transform: rotate(1440deg);
      animation-timing-function: linear;
  }
  75% {
      transform: rotate(1890deg);
  }
  87.5% {
      transform: rotate(2070deg);
      animation-timing-function: linear;
  }
  100% {
      transform: rotate(2520deg);
  }
}

@keyframes pure-material-progress-circular-pseudo {
  0% {
      transform: rotate(-30deg);
  }
  29.4% {
      border-left-color: transparent;
  }
  29.41% {
      border-left-color: currentColor;
  }
  64.7% {
      border-bottom-color: transparent;
  }
  64.71% {
      border-bottom-color: currentColor;
  }
  100% {
      border-left-color: currentColor;
      border-bottom-color: currentColor;
      transform: rotate(225deg);
  }
}




/* HEADINGS */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* TITLE */

#title {
  background-color: #334257;
  color: #fff;
  text-align: left;
}

#phoneAd {
  background-color: #334257;
  color: #fff;
  text-align: left;
}

#phoneAd .container-fluid {
  padding: 3% 15% 7%;
}

.title-img {
  width: 100px;
  height: 90px;
}

/* .Navigation Bar */
.container-nav {
  padding: 0% 3% 0%;
}

.navbar {
  padding-left: 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 2.3rem;
}

@media only screen and (max-width: 991px){
  .navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 1.7rem;
  }
  .
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

/* Download Buttons */

.download-button-title {
  margin: 5% 3% 5% 0;
}

.phone-ad-left {
  padding-bottom:50px;
}

/* Title Image */
@media only screen and (min-width: 1334px) {
  .phone-ad {
    /* width: 50%; */
    transform: rotate(25deg);
    /* Added absolute for z-index in id today */
    position: absolute;
    right: 30%;
    max-width: 100%;
    height: auto;
  }

  .mydivs {
    padding: 10px 0 0 0;
  }

  .testimonial-text {
    font-size: 3rem;
    line-height: 1.5;
  }

}

@media only screen and (max-width: 1333px) and (min-width: 992px){
  #phoneAd {
    text-align: center;
  }

  .phone-ad {
    position: absolute;
    transform: rotate(25deg);
    right: 10%;
    max-width: 100%;
    height: auto;
  }

  .mydivs {
    padding: 10px 0 0 0;
  }

  .press-logo {
    width: 15%;
    margin: 20px 20px 50px;
  }
}

@media only screen and (max-width: 991px){

  #phoneAd {
    text-align: center;
  }

  #phoneAd .container-fluid {
    /* padding: 3% 15% 7%; */
    padding-bottom: 20rem;
  }

  .phone-ad {
    position: absolute;
    transform: rotate(25deg);
    right: 10%;
    max-width: 70%;
    height: auto;
  }

  .mydivs {
    padding: 10px 0 0 0;
  }

  .testimonial-text {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .press-logo {
    width: 50%;
    margin: 20px 50px 20px 50px;
  }

  /* h2 {
    text-align: center;
  } */
}
/* less than or equal to 991px; */

/* Search Bar */
.search-bar {
  padding: 2% 2%;
  position: relative;
}

/* today */
#weather {
  padding: 2% 15% 0;
}

.weather-fields {
  padding: 2% 15%;
}

.forecast {
  text-align: left;
}

/* weather data font sizing */
.feels-like {
  font-size:1rem;
}
.weather-time {
  font-style: oblique;
}

.weather-time, .weather-temperature, .weather-description {
  margin-bottom: 0;
}

/* dotted line break */
hr {
  /*
  background-color: #F6F5F5;
  border-style: none;
  border-top-style: dotted;
  */
  border: dotted #F6F5F5 6px;
  border-bottom: none;

  border-color: grey;
  border-width: 4px;
  border-radius: 0;
  height: 0;
  width: 10%;
  margin: 60px auto 60px auto;
}

/* Pricing */

#pricing {
  padding: 100px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* TestimonialS */

#testimonials {
  padding: 7% 15%;
  background-color: #476072;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #fff;
  padding: 2%;

}


/* CTA */
#cta {
  background-color:#334257;
  color: #fff;
}


/* CTA buttons */
.download-button-cta {
  margin: 3% 0;
}


/* FOOTER */
#footer {
  background-color:#fff;
  color: #8f8f8f;
}

.footer-icon {
  color: black;
  margin: .5%;
}
